{% extends '::base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <p>This is a test task from Fora Soft</p>
        <p>Created by Tsitrikov Vladislav (<a href="mailto:vladislavtsitrikov@yandex.ru">vladislavtsitrikov@yandex.ru</a>)</p>
    </div>
{% endblock %}